#mainpart {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 25px;
}

// Input Bar Component

#search-bar {
  display: flex;
  flex-direction: row;
}

// Note Component
.wrapper {
  width: 350px;
  height: 200px;
  background-color: #F7BF8F;
  display: flex;
  flex-direction: column;
}
.inputbars {
  width: 200px;
  height: 50px;
}
.inputbars, #submitbtn {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}
#submitbtn:hover {
  box-shadow: 0 0 30px #212121;
}
.titlepart {
  display: flex;
  flex-direction: row;
}
#trash {
  margin-left: 50px;
  font-size: 20px;
}
.editing {
  background-color: #B7ABAB;
}
#drag {
  border: black solid;
}
.draghandler {
  border: black solid;
}
