#main {
  display: flex;
  align-items: center;
}

#search-bar {
  display: flex;
  flex-direction: row;
}

#wrapper {
  background-color: blue;
  display: flex;
  flex-direction: column;
}

.editing {
  background-color: #B7ABAB;
}
